<!DOCTYPE html>
<html>
<head>
    <title>Set page</title>
</head>
<body>
    <h1> Here you can set some value to the key and save it to db </h1>

    <h4> Enter a key </h4>
    <p>key: <input type="text" id="set-key" name="key"></p>
    <h4> Enter a value </h4>
    <p>value: <input type="text" id="set-value" name="key"></p>
    <button id='set-value'>Set</button>
    <ul id=message>Value: {{ value }}</ul>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="/static/set.js"></script>
</body>
</html>